---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="EV | Ruta Base" bgImage="/fondoev.png">
  <h1>EV</h1>
  <p class="muted">Rutas en coche eléctrico, cargas y consumos.</p>
</BaseLayout>
